body {
    font-family: var(--fuente-principal);
    background: var(--color-background-primario);
    color: var(--color-font-primario);
}

#app {
    max-width: var(--ancho-maximo-contenido);
    padding: var(--espacio-4);

}   