* { /*El * selecciona todos los elementos, todos los tags */
    margin: 0; /*quita los margenes que el navegador define por defecto */
    padding: 0; /* quitan el padding por defecto */
    box-sizing: border-box;
    /*Hace que el width que ponga incluya
     padding y border, en vez de que se sumen por fuera.*/


}

ul,/* Lista no ordenada */
ol {/* Listas ordenadas*/
    list-style: none; /* Quita los puntos o números de la lista */
}
button,/* botones */
input,/*elementos de ingreso de datos como un textbox */
textarea,/* areas de texto */
select {/*Selector */
    font: inherit; /*que hace que el elemento herede todas 
    las propiedades de fuente del padre Porque algunos elementos no 
    heredan la fuente por defecto, como button, input, select y textarea. */
}
img{/* Imagen */
    max-width: 100% ;
    height: auto;
    /* max-width: 100% y height: auto para garantizar que la imagen se
     escale proporcionalmente sin exceder el ancho de su contenedor ni 
     perder su relación de aspecto.   */
    border: none; /* para sacar los bordes  */

    
}